In [32]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns

In [33]:
df = pd.read_excel('ecoshare_sales.xlsx', sheet_name='Data')

In [34]:
#engineer features based on order day
df['order_day'] = pd.to_datetime(df['order_day'])
df['order_day_month'] = df['order_day'].dt.strftime('%m')
df['order_day_day_of_week'] = df['order_day'].dt.day_name()
df['order_day_day_of_month'] = df['order_day'].dt.day

In [35]:
print(df.shape)
print(df.columns)

(94601, 37)
Index(['order_day', 'accept', 'tos_flg', 'disconotice_flg',
       'oam_activelogin_cnt', 'term_length', 'called_numcalls_cnt',
       'latefee_flg', 'dwelling_type_cd', 'curr_usage', 'product_type_cd',
       'pool', 'automatic_payment_flg', 'weblog_flg', 'ca_tenure_bucket',
       'risk_level', 'deposit_onhand_amt', 'ebill_enroll_flag', 'called_flg',
       'oam_flg', 'sap_productname', 'numweblog_cnt', 'disconnects_flg',
       'load_profile', 'city', 'zipcode', 'home_value', 'county', 'tdsp',
       'dwelling_type', 'dma', 'ev_driver', 'segment', 'customer_id',
       'order_day_month', 'order_day_day_of_week', 'order_day_day_of_month'],
      dtype='object')

In [56]:
#tos_flg
print("before processing: ")
print(df['tos_flg'].value_counts(dropna=False))
df['tos_flg'].fillna('blank', inplace=True)
print("after processing: ")
print(df['tos_flg'].value_counts(dropna=False))
print()

#disconotice_flg
print("before processing: ")
print(df['disconotice_flg'].value_counts(dropna=False))
df['disconotice_flg'].fillna('blank', inplace=True)
print("after processing: ")
print(df['disconotice_flg'].value_counts(dropna=False))

blank    84253
Y        10348
Name: tos_flg, dtype: int64

N    90046
Y     4555
Name: disconotice_flg, dtype: int64

In [54]:
print(df['disconotice_flg'].value_counts(dropna=False))

N    90046
Y     4555
Name: disconotice_flg, dtype: int64

In [37]:
df.dtypes

order_day                 datetime64[ns]
accept                             int64
tos_flg                           object
disconotice_flg                   object
oam_activelogin_cnt                int64
term_length                       object
called_numcalls_cnt                int64
latefee_flg                       object
dwelling_type_cd                  object
curr_usage                       float64
product_type_cd                   object
pool                              object
automatic_payment_flg             object
weblog_flg                        object
ca_tenure_bucket                 float64
risk_level                        object
deposit_onhand_amt               float64
ebill_enroll_flag                 object
called_flg                        object
oam_flg                           object
sap_productname                   object
numweblog_cnt                      int64
disconnects_flg                   object
load_profile                      object
city                              object
zipcode                            int64
home_value                       float64
county                            object
tdsp                              object
dwelling_type                     object
dma                               object
ev_driver                         object
segment                            int64
customer_id                        int64
order_day_month                   object
order_day_day_of_week             object
order_day_day_of_month             int64
dtype: object

In [9]:
df.dtypes

order_day                 object
accept                     int64
tos_flg                   object
disconotice_flg           object
oam_activelogin_cnt        int64
term_length               object
called_numcalls_cnt        int64
latefee_flg               object
dwelling_type_cd          object
curr_usage               float64
product_type_cd           object
pool                      object
automatic_payment_flg     object
weblog_flg                object
ca_tenure_bucket         float64
risk_level                object
deposit_onhand_amt       float64
ebill_enroll_flag         object
called_flg                object
oam_flg                   object
sap_productname           object
numweblog_cnt              int64
disconnects_flg           object
load_profile              object
city                      object
zipcode                    int64
home_value               float64
county                    object
tdsp                      object
dwelling_type             object
dma                       object
ev_driver                 object
segment                    int64
customer_id                int64
dtype: object

In [7]:
df.describe().apply(lambda s: s.apply(lambda x: format(x, 'f')))

,accept,oam_activelogin_cnt,called_numcalls_cnt,curr_usage,ca_tenure_bucket,deposit_onhand_amt,numweblog_cnt,zipcode,home_value,segment,customer_id
count,94601.000000,94601.000000,94601.000000,82724.000000,0.000000,5328.000000,94601.000000,94601.000000,23243.000000,94601.000000,94601.000000
mean,0.192292,0.022051,0.331054,881.673263,nan,173.983714,0.234046,652725235.499434,257807.333262,5.872464,30757.602383
std,0.394103,0.146849,0.900376,778.177613,nan,122.880613,1.569587,275211745.008751,446489.655506,3.290823,17821.821702
min,0.000000,0.000000,0.000000,-1387.000000,nan,4.000000,0.000000,75002.000000,189.000000,1.000000,0.000000
25%,0.000000,0.000000,0.000000,334.000000,nan,75.000000,0.000000,752112558.000000,135141.000000,3.000000,15307.000000
50%,0.000000,0.000000,0.000000,701.000000,nan,150.000000,0.000000,770156440.000000,220236.000000,5.000000,30697.000000
75%,0.000000,0.000000,0.000000,1228.000000,nan,250.000000,0.000000,773736751.000000,321910.000000,9.000000,46078.000000
max,1.000000,1.000000,48.000000,16677.000000,nan,1750.000000,313.000000,798454411.000000,42414880.000000,12.000000,61893.000000

In [ ]:
# possible feature generation:
# turn order day into month
# turn order day into day of week
# turn order day into days from end of the month (approaching month end)
# use customer ID to figure out how many times you're calling the same customer

In [ ]:
# questions
# 1. if tos_flg is blank, can we assume it is null?